/* Project CSS 
============================================================
============================================================*/
body {
    width: 960px;
    margin: 0 auto;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    background-color:#ebebeb;

}

/* HEADER ============================== */
header {

    padding: 35px 0 10px 10px;
}
header h1{
    font-size: 40px;
    font-weight: bold;
}

/* ABOUT ============================== */

h3 {
    font-size: 20px;
    font-weight: bold;
}

 #about {
     height: 500px;
}

 #about h3 {
     margin-top: 10px;
 }

 #about p{
     padding: 15px;
 }


/* COMPONENTS ============================== */

h2 {
    font-size: 30px;
    font-weight: bold;
}
