/* Project CSS 
============================================================
============================================================*/


/* HEADER ============================== */
header {
    background-color: #959595;
    width: 960px;
    height: 200px;
}

header h1 {
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 140px;
    padding-left: 150px;
}

/* ABOUT ============================== */

/* COMPONENTS ============================== */
