/* Component Stylesheet 
============================================================
============================================================*/
body {
    width: 960px;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    width: 580px;
    float: left;
    padding: 20px;
}

aside{
    width: 320px;
    float: left;
    padding: 20px;
}