<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>



<section>
    <h1> Like Button</h1>
    <p>
        So, I am having issues with the Facebook Like plug in. I repetitively received an error message that was from
        the bit of code that Facebook gave me to insert into my page. I will continue to try to figure out this issue,
        but for the time being, I went ahead and improvised and use Twitter for now.
    </p>

</section>

<aside>
    <a href="https://twitter.com/slipknot" class="twitter-follow-button" data-show-count="false">Follow @slipknot</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <blockquote class="twitter-video" lang="en"><p lang="en" dir="ltr">Watch the music video premiere of XIX here: <a href="http://t.co/Vyqtm1CFZt">http://t.co/Vyqtm1CFZt</a>. Directed by <a href="https://twitter.com/MShawnCrahan">@MShawnCrahan</a>. <a href="https://twitter.com/hashtag/slipknotXIX?src=hash">#slipknotXIX</a> <a href="http://t.co/MM3LVf7F5L">pic.twitter.com/MM3LVf7F5L</a></p>&mdash; Slipknot (@slipknot) <a href="https://twitter.com/slipknot/status/651067054963998721">October 5, 2015</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</aside>
<!-- End Component -->
	<script src="js/jquery-1.11.3.min.js"></script>
</body>
</html>