<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->

    <div class="imgWrap">
        <img src="img/default.jpg" alt="polaroid" />
        <img class="imgDescription" src="img/second.jpg"/>
    </div>

    <div class="imgWrap">
        <img src="img/default.jpg" alt="polaroid" />
        <img class="imgDescription" src="img/second.jpg"/>
    </div>

    <div class="imgWrap">
        <img src="img/default.jpg" alt="polaroid" />
        <img class="imgDescription" src="img/second.jpg"/>
    </div>


	<!-- End Component -->
	
</body>
</html>