<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component-->
    <section>

        <ul>
            <li>  <img src="img/default.jpg" alt="polaroid" /> <img class="imgDescription" src="img/second.jpg"/></li>
            <li>  <img src="img/default.jpg" alt="polaroid" /> <img class="imgDescription" src="img/second.jpg"/></li>
            <li>  <img src="img/default.jpg" alt="polaroid" /> <img class="imgDescription" src="img/second.jpg"/></li>


        </ul>
    </section>
     <!--   End Component -->
	
</body>
</html>