<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <section>
        <h1> Short Cut Tab</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim enim a tortor mattis, a mattis mauris hendrerit. Morbi scelerisque metus id commodo facilisis. Ut pellentesque nisl turpis, nec interdum sem semper nec. Etiam auctor sodales dictum. Sed nec lacus non erat viverra dictum. Duis vehicula ut risus accumsan laoreet. Ut turpis urna, consequat sit amet venenatis nec, posuere consequat tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut lobortis ex at mi molestie pretium. Integer purus enim, elementum a laoreet vel, vulputate consectetur eros.
        </p>
        <p>
            Quisque pharetra odio in magna facilisis, a luctus urna accumsan. Vestibulum nunc risus, elementum sit amet malesuada quis, mattis sed lorem. Integer rhoncus tincidunt tellus, id ultrices elit faucibus aliquam. Sed eros sem, fringilla aliquet diam ac, semper tincidunt augue. Donec feugiat bibendum lacus eget placerat. Morbi pulvinar in augue non sollicitudin. Aenean interdum erat et sapien accumsan cursus. Quisque lacinia massa quis nibh convallis fringilla. Aenean tempor facilisis lacus, in scelerisque diam fermentum nec. Proin porttitor eros ut justo fringilla, quis ultricies est fermentum. Nunc eget rutrum velit. Suspendisse maximus malesuada porttitor.
        </p>
        <p>
            Nullam ut commodo nulla, id vulputate mauris. Fusce mattis interdum dapibus. Suspendisse rhoncus diam lorem, ut imperdiet lacus feugiat eget. Nulla aliquet, leo sed eleifend imperdiet, erat lorem sodales augue, eu hendrerit turpis mauris lobortis felis. Fusce sit amet ipsum at quam dictum rutrum elementum eget odio. Ut non euismod quam. Mauris sit amet malesuada nibh. Nunc pretium bibendum mi, nec commodo massa accumsan non. Suspendisse scelerisque volutpat varius.
        </p>
    </section>

    <footer>
        <ul>

            <li>Short Cuts
                <ul>
                    <li>Short Cut One</li>
                    <li>Short Cut Two</li>
                </ul>
            </li>

        </ul>
    </footer>

	<!-- End Component -->
	
</body>
</html>