/* Component Stylesheet 
============================================================
============================================================*/

body{
    width: 960px;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    padding: 10px;
    margin: 10px auto;
    font-size: large;
    font-weight: bold;

}
p{
    padding: 10px;
}

section{
    background-color: aliceblue;
}
footer{



}

footer li ul{
    display: none;
}

ul li {
    display: block;
    position: relative;
    float: right;
    width: 150px;
    background-color: cornsilk;
    border: 1px solid #111111;
    padding-top: 20px;

    border-radius: 0 0 7px 7px;

}
footer li:hover ul{
    display: block;
    position: absolute;

    bottom: 40px;
    border: 1px solid #111111;
    border-bottom: none;
    background-color: cornsilk;
    border-radius: 7px 7px 0 0;
    width: 150px;
}

footer li:hover li{
    float: none;
    background: none;
    border: none;
    border-bottom: 1px solid #111111;
    padding: 12px 10px 0px 15px;
}