<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>

	<!-- Component-->


    <nav>
        <ul>
            <li> <img src="images/component.png">
            </li>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a>
                <ul>
                    <li><a href="#">Sub 2a</a></li>
                    <li><a href="#">Sub 2b</a></li>
                    <li><a href="#">Sub 2c</a>
                        <ul>
                            <li><a href="#">Sub 2c sub</a></li>
                            <li><a href="#">Sub 2c sub2</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Menu 3</a>
                <ul>
                    <li><a href="#">Sub 3a</a></li>
                    <li><a href="#">Sub 3b</a></li>
                </ul>
            </li>
            <li><a href="#">Menu 4</a></li>
        </ul>
    </nav>
    <!--End Component -->


    <section>

    </section>

</body>
</html>